body {
  background-image: url(./../assets/images/cool-background.png);
  background-size: cover;
}

.contact_container {
  height: 750px;
  width: 99vw;
}

.contact_card {
  background-color: #212529;
  color: #ffffff;
}

.contact_btn {
  background-color: #000;
  color: #ffffff;
  margin-top: 20px;
  transition: 0.3s;
}

.contact_btn:hover {
  background-color: #fff;
  color: #000;
}